.course-details{
    margin-top: 100px;
    overflow-x:hidden ;
}
.course-image{
    width: 100%;
}
.about-box{
    
  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
  padding: 50px;
  margin: 20px;
}
.buy-button:hover{
    background-color: #fff;
  color: #1eb2a6;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
}
.buy-button{
    background-color: #1eb2a6;
  color: #fff;

}
.border-course{
    border-radius: 10px;
    padding: 8px;
  margin: 10px;
 
  

}
body{
    font-family: sans-serif;
}
.text-color{
    color: rgb(97,97,97);
}
